[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidyna"]
	path = tidyna
	url = https://github.com/statzhero/tidyna
[submodule "wrds"]
	path = wrds
	url = https://github.com/statzhero/wrds
